<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<!-- Tela de Cadastro do Medico
Utilizamos o containerVoce antes container para gerar o css
styleBox será padrão para todas as telas com botões -->
<div class="containerCadastro">
  <div class="boxCadastro">
      <div class="styleBox">
      </div>
      <h3 style="text-align:center">Cadastro Médico</h3>
      <br>



      <!-- Informar Dados do médico -->
      <input class="styleInput" type="name" placeholder="Nome completo" id="nameDoctor">
      <input class="styleInput" type="email" placeholder="E-mail" id="email">
      <input class="styleInput" type="password" placeholder="Digite sua senha" id="password">
      <input class="styleInput" type="text" name="CPF" placeholder="CPF" id="CPFDoctor">
      <input class="styleInput" type="text" name="RG" placeholder="CPF" id="RGDoctor">
      <input class="styleInput" type="text" name="CRM" placeholder="CRM" id="CRMDoctor">
      <!-- Selecionar Especialidade -->
      <select name="especialidade" id="" class="tamanhoEspecialidade">
        <option selected disabled>Selecione a Especialidade</option>
        <option value="SP">Cardiologista</option>
      </select>
      <input class="styleInput" type="tel" name="tel1" id="telefone1" placeholder="Telefone Principal">
      <input class="styleInput" type="tel" name="tel2" id="telefone2" placeholder="Telefone Secundário">
      <!-- Endereço residencial -->
      <input class="styleInput" type="text" name="city" id="cidade" placeholder="Cidade">
      <input class="styleInput" type="text" name="ruaAv" id="ruaAV" placeholder="Rua | Avenidade">
      <input class="styleInput" type="text" name="number" id="number" placeholder="Número">
      <input class="styleInput" type="text" name="complemento" id="complemento" placeholder="Complemento">

      <!-- Endereço consultorio-->
      <br>
      <label for="endereco" style="text-align: center;"><b>Endereço</b></label>
      <br>
      <select name="estado" id="" class="tamanhoUF">
        <option selected disabled>Selecione o Estado</option>
        <option value="SP">São Paulo</option>
      </select>
      <input class="styleInput" type="text" name="city" id="cidade" placeholder="Cidade">
      <input class="styleInput" type="text" name="ruaAv" id="ruaAV" placeholder="Rua | Avenidade">
      <input class="styleInput" type="text" name="number" id="number" placeholder="Número">
      <input class="styleInput" type="text" name="complemento" id="complemento" placeholder="Complemento">
      <br>
      <br>
      <br>
      <!-- Botão Enviar/Limpar/Cancelar -->
      <button type="submit" class="styleButtonEnviar" >Criar Conta</button>
      <br>
      <button type="reset" class="styleButtonLimpar" >Limpar</button>
      <br>
      <button class="styleButtonCancelar">Cancelar</button>
      
    </div>
</div>
    
<%- include('./partials/footer'); %>