<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<body>
  <form>
    <div class="containerLogin">
      <div class="box">
          <div class="styleBox">
          </div>
          <h3>Login</h3>
          <br>          
          <input class="styleInput" type="email" placeholder="Digite seu e-mail">
          <br>
          <br>
          <input class="styleInput" type="password" placeholder="Digite sua senha">
          <br>
          <br>
          <p>OU - <a href="/cadastro">Crie uma conta:</a></p>
          <br>
          <button class="styleButtonEnviar">Continuar</button>
          <br>
          <button class="styleButtonCancelar">Cancelar</button>
          <br>
          <br>
        </div>
    </div>
  </form>
</body>









