<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<body>
  <form>
    <div class="container">
      <div class="box">
          <div class="styleBox">
          </div>
          <h3>Login</h3>
          <br>
          <label for="">Email</label>
          <br>
          <input class="styleInput" type="email" placeholder="Digite seu e-mail">
          <br>
          <br>
          <label>Senha</label>
          <br>
          <input class="styleInput" type="password" placeholder="Digite sua senha">
          <br>
          <button class="styleButtonEnviar">Acessar</button>
          <br>
          <button class="styleButtonCancelar">Cancelar</button>
          <!-- <input type="button" value="Voltar" onClick="history.go(-1)"> -->
          <br>
          <br>
          
          <p>Não é registrado? <a href="/cadastro">Crie uma conta</a></p>
        </div>
    </div>
  </form>
</body>









